.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input:focus {
  border: none;
  outline: rgb(169, 169, 255) 1px solid;
}

.style-container {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}