.output-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 11in;
}

.output-container>h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

.output-container>h3 {
  font-size: 14px;
}

.output-container h4 {
  font-weight: 500;
}

h4.output-bold {
  font-size: 16px;
  font-weight: 700;
}

.output-container p {
  font-size: 14px;
  font-weight: 300;
}

.output-container>section {
  margin: 0.2in 0;
}

.output-container h2 {
  font-size: 20px;
  text-align: center;
}

.output-container .education-section,.experience-section {
  display: flex;
}

.name {
  text-align: center;
}

.cv-content {
  margin: 0.2in 0.75in;
}

.education-left, .education-right, .experience-left, .experience-right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.experience-left, .education-left {
  width: 2in;
}

.education-section, .experience-section {
  margin-bottom: 0.2in;
}

.additional-details {
  display: flex;
  justify-content: center;
  gap: 1in;
}

.additional-details-harvard h3 {
  font-size: 14px;
  font-weight: 400;
}

.output-container .additional-details-harvard {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  gap: 0.2in;
  border-bottom: 1px solid grey;
  padding-bottom: 0.1in;
}

.education-section.harvard, .experience-section.harvard {
  flex-direction: column;
}

.education-harvard, .experience-harvard {
  display: flex;
  justify-content: space-between;
}

h4.output-bold.harvard {
  font-size: 16px;
  text-transform: uppercase;
}

.output-container .position-harvard {
  font-size: 14px;
  text-transform: uppercase;
}

.output-container .harvard p {
  margin-left: 0.25in;
}

.output-container.harvard>* {
  font-family: 'Times New Roman', Times, serif
}

.output-container.harvard h1 {
  text-transform: uppercase;
  font-size: 22px;
  margin: 0.1in 0;
}

.output-container.harvard h2 {

  margin-bottom: 0.1in;
}
