.output-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 11in;
}

.output-container>h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

.output-container>h3 {
  font-size: 14px;
}

.output-container h4 {
  font-weight: 500;
}

h4.output-bold {
  font-size: 16px;
  font-weight: 700;
}

.output-container p {
  font-size: 14px;
  font-weight: 300;
}

.output-container>section {
  margin: 0.2in 0;
}

.output-container .education-section,.experience-section {
  /* margin-left: 0.75in; */
  display: flex;
}

.name {
  text-align: center;
}

.cv-content {
  margin-left: 0.75in;
}

.education-left, .education-right, .experience-left, .experience-right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.experience-left, .education-left {
  width: 2in;
}

.education-section, .experience-section {
  margin-bottom: 0.2in;
}

.additional-details {
  display: flex;
  justify-content: center;
  gap: 1in;
}